.product_card {
  background-color: var(--blue-light);
  max-width: 200px;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.info {
  padding: 12px 8px 24px 8px;
}

.product_img {
  overflow: hidden;
  width: 100%;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.author {
  display: block;
  font-style: italic;
  height: 18px;
}
